[Desktop Entry]
Name=SoftConnect
NoDisplay=true
MimeType=x-scheme-handler/softconnect;
TryExec=softconnect
Exec=softconnect %u
Icon=softconnect
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=softconnect
